@import '@src/theme.scss';

.select {
  position: relative;
  width: 200px;
  .select-input {
    height: 32px;
    line-height: 32px;
    border-radius: $litter-radius;
    border: none;
    width: 100%;
    box-sizing: border-box;
    padding: 0 $litter-padding;
    background-color: $white;
  }
  .select-div {
    cursor: pointer;
  }
  .select-placeholder {
    color: #999;
  }
  .select-list {
    position: absolute;
    width: 100%;
    background-color: $white;
    z-index: 300;
    border-top: $border #eaeaea;
    border-radius: $litter-radius;
    max-height: 120px;
    overflow-y: auto;
    ul {
      list-style: none;
      margin: 0;
      padding: 2px;
      li {
        padding: 4px 8px;
        cursor: pointer;
        border-bottom: 1px solid #eaeaea;
        &:last-child {
          border-bottom: none;
        }
      }
    }
  }
}